%h2 ¿Qué es Mandragora Code Studio?

%p Mandragora Code Studio es un grupo de desarrollo de software de entretenimiento visual. Principalmente se dedica al diseño, creación, testeo y venta de videojuegos.

 

%h2 Mandragora Code Studio

%p El grupo de desarrollo indi Mandragora Code Studio nace con la intención de crear videojuegos de alta calidad para Linux, MacOS y Windows. La mayor parte de nuestros juegos serán gratuitos, siendo parte de ellos ademas OpenSource, aunque no será un requisito para realizar un proyecto. Se usarán preferiblemente tecnologías libres, apoyando así este tipo de iniciativas.Nuestra denominación como grupo Indi indica que no contamos con financiación externa pero si de verdadera pasión por el arte de la creación de videojuegos. Esta pasión nos lleva a querer hacer algo grande, algo que como individuos no podríamos lograr, pero como grupo sabemos que lo podemos hacer. Para eso nace Mandragora Code Studio.

 

%h2 ¿Por qué Mandrágora?

%p Nuestro compromiso por la naturaleza es considerable, en los tiempos que hoy corren en el que el cambio climatico y crisis global debido a todos los abusos cometidos contra la naturaleza, queremos luchar desde este grupo en la medida de lo posible contra esta violación de nuestra madre tierra.

 

%h2 ¿Quién puede pertenecer a Mandragora Code Studio?

%p En principio puede pertenecer a Mandragora Code Studio toda aquella persona con un nivel básico, intermedio o alto en alguna de las disciplinas necesarias tanto para la parte de diseño, creación, testeo o venta de videojuegos. El perfil requerido es de una persona con experiencia previa,no se necesita ser profesional, pero si acreditar de alguna forma que tiene conocimientos básicos respecto al rol que ha elegido.  También se tendrá muy en cuenta que tenga muchas ganas de trabajar y de aprender, una gran motivación y con capacidad para trabajar en equipo, pudiendo cumplir los objetivos que se le planteen.

 

%h2 ¿Cómo contactar con nosotros?

 

%p Puede contactar con el grupo de Mandragora Code Studio de muchas formas:

%ul
	%li A través de Tuenti. (Buscar el usuario: Mandragora Code Studio)
	%li A través de nuestra página de Facebook: Mandrágora Code Studio
	%li A través de Twitter en MandragoraCS
	%li Mediante Skype. (Añadir el usuario: MandragoraCodeStudio)
	%li A través de correo electrónico.
	%li Mediante una lista de correo de Google Groups.