%h1 Proyectos

#project
	%h2 Piratas del Espacio: El caso Norby.
	%p Juego de naves espaciales donde deberás liberar la galaxia del maldito emperador Francis Cano encarnando al pirata Norby.
	%img{:href=>'/images/piratas-del-espacio.png'} 
    
#project
	%h2 Last Hope
	%p Juegos tipo Tower Defence ambientado en un universo futurista en el que los humanos deben sobrevivir a máquinas asesinas.
	%img{:href=>'/images/last-hope.png'} 
	%p 
		%a{:href=>'https://github.com/MandragoraStudio/Last-hope'} 
			Link al código
    
#project
	%h2 Trileros
	%p VideoJuego basado en el juego popular del mismo nombre Trilero.
	%img{:href=>'/images/trilero.png'} 

#project
	%h2 Kill the Mole
	%p Típico matatopos
	%img{:href=>'/images/kill-the-mole.png'} 
	%p
		%a{:href=>'http://www.appsfuze.com/games/windowsphone.boardandclassic/trileros,6090'} 
			Link de descarga	
    
#project
	%h2 MandraPong	
	%p Guerra interespacial, donde los Robots y los Aliens, deben defender su tierra natal frente a los enemigos. Los aliens afirman que la guerra la empezaron los Robots, pero estos opinan al contrario culpando a los aliens, ¿de que parte estas tú?. Este es una de las ventajas del juego, puedes decidir la raza con la que vas a luchar en el juego.
	%img{:href=>'/images/mandrapong.png'}  	
    
#project
	%h2 Sexy Particles
	%p Sexy Particles permite al jugador crear con sus dedos puntos de gravedad en cualquier lugar de la pantalla y observar el efecto que causa en las distintas partículas... Crea puntos de gravedad, varía los tiempos que prevalecen activos, disfruta viendo como las partículas toman aceleración mientras mantienes activo el punto de gravedad. Con un motor de físicas totalmente nuevo que imita a la gravedad real. Juega con la física, siéntete como un imán a través de tus dedos, ¿Acaso existe algo más Sexy?
	%img{:href=>'/images/sexy-particles.png'} 
	%p
		%a{:href=>'https://market.android.com/details?id=sexy.particles&feature=search_result'} 
			Link de descarga
       
#project
	%h2 Sexy Zombies	
	%p Sexy Zombies es un novedoso juego de Zombies que te involucra en escenarios dinámicos, haz que tus Zombies destruyan cada centímetro del escenario mientras observas como los humanos intentan salvarse construyendo barricadas, no habrá dos partidas iguales, cada gesto, cada segundo: ¡cuenta!.
	%img{:href=>'/images/sexy-zombies.png'} 
	%p
		%a{:href=>'https://market.android.com/details?id=sexy.mandra.zombies'} 
			Link de descarga
	    
#project
	%h2 Puzzler
	%p Es un videojuego en el que se resolver todo tipo de puzzles.
	%img{:href=>'/images/puzzle.png'}
    
#project
	%h2 Mandracannon	
	%p Videojuego de estrategia en el que el debes controlar a un ejército de insectos y matar al ejército rival. Mecánica tipo Worms.
	%img{:href=>'/images/mandracannon.png'} 
	%p 
		%a{:href=>'https://github.com/MandragoraStudio/MandraCannon'} 
			Link al código